<div class="email-footer">
    <p><strong>MineWords</strong></p>
    <p>Thank you for being part of our community!</p>
    <p style="font-size: 12px; color: #adb5bd; margin-top: 15px;">
        This is an automated email. Please do not reply to this message.
    </p>
</div>


