node_modules

/.cache
/.vscode
/build
/app/build
/public/build/
/app/public/build
/prisma/dev.sqlite
/prisma/dev.sqlite-journal
database.sqlite
.next/
.env
package-lock.json
yarn.lock
passenger.log
responses.json
services.json
updated_services.json
service.json
payment_webhooks.json
shop.json
/files/